<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>

    <!-- Connection settings -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://postgres/combrew</property>
    <property name="hibernate.connection.username">combrew</property>
    <property name="hibernate.connection.password">combrew</property>

    <!-- SQL dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

    <!-- Print executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- Drop and re-create all database on startup -->
    <!--<property name="hibernate.hbm2ddl.auto">create-drop</property>-->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!--<property name="hibernate.enable_lazy_load_no_trans">true</property>-->

    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>

    <!-- Ingredients -->
    <mapping class="org.mybeer.model.ingredient.Hop" />
    <mapping class="org.mybeer.model.ingredient.Fermentable" />
    <mapping class="org.mybeer.model.ingredient.Yeast" />
    <mapping class="org.mybeer.model.ingredient.Spice" />
    <!-- Recipe -->
    <mapping class="org.mybeer.model.recipe.Recipe" />
    <mapping class="org.mybeer.model.recipe.FermentableAddition" />
    <mapping class="org.mybeer.model.recipe.HopAddition" />
    <mapping class="org.mybeer.model.recipe.SpiceAddition" />
    <mapping class="org.mybeer.model.recipe.YeastAddition" />
    <!-- Mash -->
    <mapping class="org.mybeer.model.mash.MashStep" />
    <mapping class="org.mybeer.model.mash.MashScheme" />

    <mapping class="org.mybeer.model.BeerStyle" />
    <mapping class="org.mybeer.model.BrewingSystem" />
    <mapping class="org.mybeer.model.BrewDay" />



  </session-factory>
</hibernate-configuration>